body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #8B9DC3;
  color: black;
}

.left {
  float: left;
  width: 50%;
  margin-top: 120px;
}

.left h1 {
  text-align: center;
  font-size: 700%;
  color: 	#FFF8DC;
  margin-bottom: 0;
}

.left p{
  font-size:24px;
  margin-top: -5px;
  margin-left: 280px;
  color: #E1E8ED;
}

p {
  text-align: center;
  margin-bottom: -10px;
}

.right {
  width: 50%;
  float: right;
  margin-top: 105px;
}

ul {
  text-align: center;
  margin: auto;
}

li {
  width: 100%;
  display: inline-block;
  float: left;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #DDD;
  font-size: 25px;
  cursor: pointer;
  margin-left: -44px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

i {
    margin-left: 20px;
}

li:hover {
  background-color: #008B8B;
  color: #FFF;
  border-color: #008B8B;
}

li:hover i {
  padding-left: 15px;
}


@media(max-width: 768px)  {
  .left ,
  .right,
  .left p {
    float: none;
    text-align: center;
    width: 100%;
  }

  .left h1 {
    font-size: 60px;
  }

  .left p {
    margin-left: 0;
  }

  .right li {
    margin-left: -20px;
  }

  .right .last {
    margin-bottom: 20px;
  }
}
